.b-example-divider {
  height: 3rem;
  background-color: rgba(42, 96, 243, 0.15);
  border: solid rgba(42, 96, 243, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(42, 96, 243, 0.15), inset 0 .125em .5em rgba(42, 96, 243, 0.15);
}

@media (min-width: 992px) {
  .rounded-lg-3 { border-radius: .3rem; }
}

.img-fluid{
  max-width: 100%;
  height: auto;
  width: 300px;
  align-items: center;
 
  
}

.img-fluid2{
  max-width: 100%;
  height: auto;
  width: 300px;
  margin-left: 150px;
  align-items: center;
 
  
}

.aa{
  height: 500px;
  align-items: center;
}


